<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ananops_android">

    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--用于访问网络-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 解锁屏幕需要的权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 申请电源锁需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--震动权限-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8a605283ec7b96f377e9acd6e46091d6" />
        <!--高德地图-->
        <service android:name="com.amap.api.location.APSService" />
        <service
            android:name=".service.AutoUpdateService"
            android:enabled="true"
            android:exported="true" />
        <!--MQTT服务-->
        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service
            android:name=".service.JWebSocketClientService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.JWebSocketClientService$GrayInnerService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray" />
        <activity android:name=".activity.LoginActivity1" />
        <activity android:name=".activity.ContactActivity" />
        <activity android:name=".activity.ContactPersonActivity" />
        <activity android:name=".activity.UserMainActivity" />
        <activity
            android:name=".activity.RepairAddActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".activity.OrderDetailActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".activity.OrderSearchListActivity" />
        <activity android:name=".activity.UerMessageActivity" />
        <activity android:name=".activity.UserOrderSearchActivitySpinner" />
        <activity android:name=".activity.InspectionAddActivity" />
        <activity android:name=".activity.InspectionAddPicActivity"/>
        <activity android:name=".activity.InspectionSearchListActivity" />
        <activity android:name=".activity.InspectionItemDetailActivity" />
        <activity android:name=".activity.InspectionDetailActivity"></activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.AddressSearchActivity" />
        <activity android:name=".activity.AdrressNaviActivity"/>
        <activity android:name=".activity.RepairCommentActivity" />
        <activity android:name=".activity.ChooseReplacementActivity" />
        <activity android:name=".activity.InspectionItemListActivity" />
        <activity android:name=".activity.ProjectDetailActivity" />
        <activity android:name=".activity.ProjectListActivity" />
        <activity android:name=".activity.ReplacementOrderOperationActivity"/>
        <activity android:name=".activity.ReplacementOrderListActivity"/>
        <activity android:name=".activity.InspectionCommentActivity"/>
        <activity android:name=".activity.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".photopicker.PhotoPickerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/PhotoPickerTheme" />
        <activity
            android:name=".photopicker.PhotoPreviewActivity"
            android:theme="@style/PhotoPickerTheme" />
    </application>

</manifest>