<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.annaops">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.example.annanops.service.AutoUpdateService"
            android:enabled="true"
            android:exported="true"></service>
        <activity android:name="com.example.annanops.activity.LoginActivity1"/>
        <activity android:name="com.example.annanops.activity.WeatherActivity" />
        <activity android:name="com.example.annanops.activity.MainActivity" />
        <activity android:name="com.example.annanops.activity.Alipay_test"/>
        <activity android:name="com.example.annanops.activity.ContactActivity"/>
        <activity android:name="com.example.annanops.activity.ContactPersonActivity"/>
        <activity android:name="com.example.annanops.activity.UserMainActivity"/>
        <activity android:name="com.example.annanops.activity.RepairAddActivity"/>
        <activity android:name="com.example.annanops.activity.OrderSearchActivity"/>
        <activity android:name="com.example.annanops.activity.OrderResearchInputActivity"/>
        <activity android:name="com.example.annanops.activity.UerMessageActivity"/>
        <activity android:name="com.example.annanops.activity.UserOrderSearchActivitySpinner"/>
        <activity android:name="com.example.annanops.activity.LoadingActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"/>

        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"/>
        <activity
            android:name="photopicker.PhotoPickerActivity"
            android:theme="@style/PhotoPickerTheme"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="photopicker.PhotoPreviewActivity"
            android:theme="@style/PhotoPickerTheme"/>
    </application>

</manifest>